$color-primary-purple: #5f5ff6;
$color-primary: #2c8cf4;
$color-primary-green: #2bc48a;
$color-light: rgba(240, 238, 255, 0.1);
$color-light-2: #f0eeff;

$trans: all .4s ease-in-out;
$font-primary: 1.2rem;


* {
    margin: 0;
    padding: 9;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

// utilities
// pad-8-util
// It means padding-left-right-8rem
.p-lr-8 {
    padding: 0 8rem;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: $font-primary;
    color: #fff;
    background-color: #000;
    overflow-x: hidden;
}

//HEADER

.header {
    min-height: 100vh;

    .navigation {
        min-height: 10vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 500;

        .nav-items {
            display: flex;
            align-items: center;

            .nav-item {
                margin: 0 1rem;

                a {
                    color: white;
                }
            }

            .cta {
                padding: .7rem 1.3rem;
                background-color: #fff;
                color: #000;
                border-radius: 7px;
                text-decoration: none;
                transition: $trans;

                &:hover {
                    background-color: #ccc;
                    color: $color-primary-purple;
                }
            }
        }
    }
    .header-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 12rem;
        position: relative;
        overflow: hidden;
        .left-header {
            .small-btn {
                   width: 80%;
                   background-color: rgba(90, 79, 207, 0.3);
                   border-radius: 20px;
                   display: flex;
                   font-size: .7rem;
                   align-items: center;
                   padding: .5rem .5rem;
                   color: #fff;
                   margin-bottom: 1rem;
                   .btn-sec {
                    background-color: #5f5ff6;
                    padding: .4rem .6rem;
                    border-radius: 20px;
                    margin-right: 1rem;
                   }
            }
            .primary-heading {
                color: #fff;
                font-size: 5rem;
                font-weight: 800;
            }
            .s-text {
                font-size: .9rem;
                margin-top: .8rem;
                color: rgba(255,255,255,0.171);
            }
        }    
    }
}

//MAIN

.main-content {
    section {
        position: relative;
        .section-filler {
            position: absolute;
            left: 0;
            top: 0;
            z-index: 5;
            height: 100%;
            width: 100%;
            background-color: #000;
            
        }
    }
    .section-stats {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 4rem;
        padding-top: 12rem;
        padding-bottom: 8rem;
        .icon {
            background-color: $color-light;
            padding: 3rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            width: 40px;
            height: 40px;
        }
        h4 {
            color: white;
            margin-top: 1.5rem;
            margin-bottom: 2rem;
            opacity: 0.9;
        }
        p {
            color: $color-light-2;
            opacity: 0.5;
        }
    }
    .section-plans {
        .btn-dark {
            background-color: black;
        }
        .team-cards {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 2rem;
            margin: 6rem 0;
            overflow: hidden;
        }
        .big-text {
            font-weight: 800;
            font-size: 5rem;
            margin: 4.5rem 0;
            color: white;
            width: 80%;
            margin: 0 auto;
            span {
                border-bottom: 3px solid #5f5ff6;
            }
        }
        .team {
            background-color: $color-light;
            border-radius: 8px;
            transition: $trans;
            cursor: default;
            &:hover {
                transform: scale(1.1) !important;
            }
        }
        .team-content {
            padding: 2rem;
            p {
                color: #f0eeff80;
                span {
                    color: white;
                }
            }
        }
    }
    .section-gallery {
        .gallery-content {
            padding: 8rem 0;
            .small-title-2 {
                font-size: 3rem;
            }
            p {
                color: $color-light-2;
                opacity: 0.5;
                padding: .8rem 0;
            }
            .image {
                position: relative;
                img {
                    width: 100%;
                }
                .bottom-btn {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    background-color: #fff;
                    padding: .8rem 1.4rem;
                    color: #000;
                    transition: $trans;
                    cursor: pointer;
                    &:hover {
                        background-color: #5f5ff6;
                        color: #fff;
                    }
                }
            }
        }
    }
    .section-blogs {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;
        padding: 0 4rem;
        margin: 8rem 0;
        .blog {
            transition: $trans;
            border-radius: 10px;
            &:hover {
                transform: scale(1.1);
                background-color: rgba(240, 238, 255, 0.1);
            }
            .blog-content {
                padding: 1.5rem;
                img {
                    width: 100%;
                }
                h4 {
                    font-weight: 500;
                    padding: .5rem 0;
                    font-size: 1.4rem;
                }
                a {
                    display: inline-block;
                    color: #5f5ff6;
                    text-decoration: none;
                    font-size: .8rem;
                    margin-top: 1rem;
                }
            }

        }
    }
    .section-contact {
        margin: 8rem;
        background-color: rgba(240, 238, 255, 0.1);
        border-radius: 10px;
        .contact-info {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 4rem;
            padding: 6rem 4rem;
            .left-contact {
                width: 80%;
                h2 {
                    padding-bottom: .8rem;
                }
                p {
                    color: $color-light-2;
                    opacity: 0.5;
                }
                
            }
            .input-control {
                input {
                    background-color: black;
                }
                button {
                    background-color: #5f5ff6;
                }
            }
        }
    }
}


// FOOTER

.footer {
    padding: 6rem 0;
    text-align: center;
    background-color: rgba(240, 238, 255, 0.1);
}


//Reusable styles
.input-control {
    display: flex;
    width: 100%;
    margin-top: 3rem;
    .btn-submit {
        outline: none;
        border: none;
        padding: .1rem 1rem;
        cursor: pointer;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        transition: $trans;
        &:hover {
            background-color: #566e7e;
        }
    }
    .btn-submit, input {
        font-family: inherit;
        font-size: inherit;
        font-weight: 500;
        background-color: rgba(240, 238, 255, 0.2);
        color: rgba(255, 255, 255, 0.733);
    }
    input {
        padding: .8rem 1.3rem;
        background-color: rgb(22,22,22);
        border: none;
        outline: none;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        color: #fff;
        width: 70%;
    }
}
.btn-dark {
    display: inline-block;            //display inline-block is used to only surround whatever content is in it
    margin-top: 1.2rem;
    margin-bottom: 1rem;
    background-color: $color-light;
    color: rgba(255, 255, 255, 0.781);
    font-family: inherit;
    font-size: inherit;
    padding: .8rem 1rem;
    border-radius: 4px;
}
.team-btn {
    margin-bottom: 2.5rem;
    background-color: #5f5ff6;
    display: inline-block;
    padding: .3rem .8rem;
    border-radius: 5px;
    font-size: .8rem;
    text-transform: uppercase;                
}

.cursor {
    width: 3.8rem;
    height: 3.8rem;
    border-radius: 50%;
    border: 2px solid #2bc48a;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
}